<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219522157771-7df2d6c1qt5d6rlerltm2a4sevcq62cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219522157771-7df2d6c1qt5d6rlerltm2a4sevcq62cn</string>
	<key>API_KEY</key>
	<string>AIzaSyADGwqJvU1ha5RB3csvDuX5HauE4AJrjB4</string>
	<key>GCM_SENDER_ID</key>
	<string>219522157771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>getmoney.inc.XLAX</string>
	<key>PROJECT_ID</key>
	<string>xlax-4c0fe</string>
	<key>STORAGE_BUCKET</key>
	<string>xlax-4c0fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219522157771:ios:927832adeb07047b</string>
	<key>DATABASE_URL</key>
	<string>https://xlax-4c0fe.firebaseio.com</string>
</dict>
</plist>